*.dpkg-dist
*.dpkg-old
*.dpkg-new
/violations.d/smartd
/violations.d/kernel
/violations.d/su
/violations.d/logcheck
/violations.d/mdadm
/violations.d/sudo
/ignore.d.server/gnu-imap4d
/ignore.d.server/courier
/ignore.d.server/courier-imap
/ignore.d.server/courier-imap-ssl
/ignore.d.server/imap
/ignore.d.server/rsync
/ignore.d.server/razor
/ignore.d.server/dcc
/ignore.d.server/tftpd
/ignore.d.server/ntop
/ignore.d.server/cvsd
/ignore.d.server/popa3d
/ignore.d.server/grinch
/ignore.d.server/puppetd
/ignore.d.server/dhclient
/ignore.d.server/libpam-krb5
/ignore.d.server/rssh
/ignore.d.server/dictd
/ignore.d.server/openvpn
/ignore.d.server/teapop
/ignore.d.server/libpam-mount
/ignore.d.server/isdnutils
/ignore.d.server/amandad
/ignore.d.server/nagios
/ignore.d.server/isdnlog
/ignore.d.server/syslogd
/ignore.d.server/policyd
/ignore.d.server/cups-lpd
/ignore.d.server/asterisk
/ignore.d.server/hylafax
/ignore.d.server/ipppd
/ignore.d.server/smokeping
/ignore.d.server/pptpd
/ignore.d.server/netconsole
/ignore.d.server/cyrus
/ignore.d.server/libsasl2-modules
/ignore.d.server/ddclient
/ignore.d.server/acpid
/ignore.d.server/rpc_statd
/ignore.d.server/qpopper
/ignore.d.server/perdition
/ignore.d.server/nscd
/ignore.d.server/jabberd
/ignore.d.server/smbd_audit
/ignore.d.server/maradns
/ignore.d.server/horde3
/ignore.d.server/postfix-policyd
/ignore.d.server/mon
/ignore.d.server/imapproxy
/ignore.d.server/proftpd
/ignore.d.server/dkfilter
/ignore.d.server/cvs-pserver
/ignore.d.server/mldonkey-server
/ignore.d.server/imp4
/ignore.d.server/xinetd
/ignore.d.server/gps
/ignore.d.server/squid
/ignore.d.server/telnetd
/ignore.d.server/uptimed
/ignore.d.server/innd
/ignore.d.server/schroot
/ignore.d.server/amavisd-new
/ignore.d.server/vsftpd
/ignore.d.server/postfix
/ignore.d.server/procmail
/ignore.d.server/anon-proxy
/ignore.d.server/fcron
/ignore.d.server/dovecot
/ignore.d.server/apache
/ignore.d.server/thy
/ignore.d.server/dspam
/ignore.d.server/smartd
/ignore.d.server/otrs
/ignore.d.server/hostapd
/ignore.d.server/mysql-server-5_5
/ignore.d.server/nslcd
/ignore.d.server/exim4
/ignore.d.server/watchdog
/ignore.d.server/dropbear
/ignore.d.server/arpwatch
/ignore.d.server/nntpcache
/ignore.d.server/saslauthd
/ignore.d.server/snmpd
/ignore.d.server/ikiwiki
/ignore.d.server/kernel
/ignore.d.server/dhcp
/ignore.d.server/mysql-server-5_1
/ignore.d.server/pdns
/ignore.d.server/rbldnsd
/ignore.d.server/imp
/ignore.d.server/ntpdate
/ignore.d.server/cpufreqd
/ignore.d.server/cron
/ignore.d.server/nfs
/ignore.d.server/bluez-utils
/ignore.d.server/su
/ignore.d.server/login
/ignore.d.server/hplip
/ignore.d.server/ucd-snmp
/ignore.d.server/rsyslog
/ignore.d.server/epmd
/ignore.d.server/passwd
/ignore.d.server/logcheck
/ignore.d.server/spamd
/ignore.d.server/mountd
/ignore.d.server/pureftp
/ignore.d.server/saned
/ignore.d.server/ssh
/ignore.d.server/cpqarrayd
/ignore.d.server/netatalk
/ignore.d.server/krb5-kdc
/ignore.d.server/pure-ftpd
/ignore.d.server/bind
/ignore.d.server/wu-ftpd
/ignore.d.server/slapd
/ignore.d.server/hddtemp
/ignore.d.server/apcupsd
/ignore.d.server/anacron
/ignore.d.server/sympa
/ignore.d.server/sasl2-bin
/ignore.d.server/automount
/ignore.d.server/ftpd
/ignore.d.server/spamc
/ignore.d.server/upsd
/ignore.d.server/mdadm
/ignore.d.server/git-daemon
/ignore.d.server/openvpn-extra
/ignore.d.server/dkim-filter
/ignore.d.server/stunnel
/ignore.d.server/userv
/ignore.d.server/rsnapshot
/ignore.d.server/dnsmasq
/ignore.d.server/cron-apt
/ignore.d.server/ppp
/ignore.d.server/samba
/ignore.d.server/klogind
/ignore.d.server/sudo
/ignore.d.server/snort
/ignore.d.server/scponly
/ignore.d.server/sa-exim
/ignore.d.server/transmission
/ignore.d.server/netfilter-persistent
/ignore.d.server/systemd-logind
/ignore.d.server/mariadb-server-10_*
/ignore.d.server/systemd
/ignore.d.server/gpg-agent
/ignore.d.server/systemd-timesyncd
/header.txt
/logcheck.logfiles
/logcheck.conf
/ignore.d.workstation
/ignore.d.paranoid
/violations.ignore.d
/cracking.d
